{% extends 'patients/patient_template.html' %}

{% block content %}
<div class="col-md-10">
  <div class="card" id = "patient-card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 patient-header">
          <h4>{{patient.first|capfirst}} {{patient.middle|capfirst}} {{patient.last|capfirst}} ID: {{patient.id}}</h4>

        </div>

        <!-- table for the rx's -->
        <table class = "table">
          <tr>
            <th>Insurance</th>
            <th>Type</th>
            <th>Company</th>
            <th>Plan Name</th>
            <th></th>
          </tr>
            {% for insurance in patient.patient_insurance_set.all %}
          <tr>
            <td>{{forloop.counter}}</td>
            {% if 'edical' in insurance.class_name %}
            <td>Medical</td>
            {% else %}
            <td>Vision</td>
            {% endif %}
            <td>{{insurance.company_name}}</td>
            <td>{{insurance.plan_name}}</td>
            <td>
              {% if 'edical' in insurance.class_name %}
              <a href="{% url 'patients:med-ins-update' patient.pk %}">Details/Edit</a>
              {% else %}
              <a href="{% url 'patients:vis-ins-update' patient.pk %}">Details/Edit</a>
              {% endif %}
            </td>
        </tr>
            {% endfor %}


          </tr>
        </table>
      </div>
      <div class="row">
        <div class="col-md-3 padded">
        <div class="form-group row">
          <div class="offset-4 col-8">
            <a href="#" class = "btn btn-primary btn-sm">Add Insurance</a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}
