<!DOCTYPE html>

{% extends 'patients/patient_template.html' %}

{% block content %}

    <div class="col-md-10">
      <div class="card" id = "patient-card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 patient-header">
              <h3>{{patient.first|capfirst}} {{patient.middle|capfirst}} {{patient.last|capfirst}} ID: {{patient.id}}</h3>
              <hr>
            </div>
          </div>
          <div class="row">
            {{form.errors}}
            <form  method = "post">
              <div class="col-md-3 padded">
                {% csrf_token%}
                {% for item in form %}
                {% if forloop.counter is 7 %}
              </div>
              <div class="col-md-3 padded">
                {% endif %}
                {% if forloop.counter is 13 %}
              </div>
              <div class="col-md-3 padded">
                {% endif %}
                {% if forloop.counter is 19 %}
              </div>
              <div class="col-md-3 padded">
                {% endif %}
                <div class="form-group row">
                  <label for="{{item.label}}" class="col-4 col-form-label">{{item.label}}</label>
                  <div class="col-8">
                    <!-- <input id="{{item.label}}" name="{{item.label}}" value="{{item.value}}" class="form-control here" type="text"> -->
                    {{item}}
                  </div>
                </div>
                {% endfor %}
              </div>


            </div>
            <div class="row">
              <div class="col-md-3 padded">
              <div class="form-group row">
                <div class="offset-4 col-8">
                  <input  type="submit" value = "Update" class="btn btn-primary"></input>
                </div>
              </div>
            </div>
            </div>
          </form>



            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
feather.replace()
</script>


{% endblock %}
