{% extends 'patients/patient_template.html' %}
{% block content %}
<div class="col-md-10">
  <div class="card" id = "patient-card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 patient-header">
          <h4>{{patient.first|capfirst}} {{patient.middle|capfirst}} {{patient.last|capfirst}} ID: {{patient.id}}</h4>

        </div>

        <!-- table for the rx's -->
        <table class = "table">
          <tr>
            <th>Prescription Type</th>
            <th>Optometrist</th>
            <th>Rx Date</th>
            <th></th>
            {% for rx in patient.common_rx_set.all %}
          </tr>
              {% if rx.od_sphere %}
            <td>Spectacle</td>
              {% else %}
            <td>Contact Lenses</td>
              {% endif %}
            <td>{{rx.doctor}}</td>
            <td>{{rx.exam_date|date:"m/d/y"}}</td>
            {% if rx.od_sphere %}
            <td><a href = "{% url 'patients:spectacle-update' rx.id %}" >Edit/Details</a></td>
            {% else %}
            <td><a href = "{% url 'patients:contact-lens-update' rx.id %}" >Edit/Details</a></td>
            {% endif %}
          <!-- for rx in patient -->
          <tr>
            {% endfor %}


          </tr>
        </table>
        <div class="container col-md-4" id = 'buttoncontainer' style = "margin-bottom:4px;">
          <a href="{% url 'patients:spectacle-create' patient_id=patient.pk %}" class = 'btn btn-primary btn-md' >Add Spectacle Rx</a>
          <a href="{% url 'patients:contact-lens-create' patient_id=patient.pk %}" class = 'btn btn-primary btn-md' >Add Contact Lens Rx</a>

        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}
