{% extends 'patients/patient_template.html' %}

{% block content %}
<div class="col-md-10">
  <div class="card" id = "patient-card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 patient-header">
          <h3>{{patient.first|capfirst}} {{patient.middle|capfirst}} {{patient.last|capfirst}} ID: {{patient.id}},
            Age: {{patient.age}},   Spectacle, Date: {{object.exam_date|date:"m/d/y"}}
          </h3>
          <hr>
          <div class="row">
            <span style = "color:red;">{{form.errors}}</span>
            <form  method = "post">
              <div class="col-md-3 padded">
                {% csrf_token%}
                {% for item in form %}
                {% if forloop.counter is 6 %}
              </div>
              <div class="col-md-3 padded">
                {% endif %}
                {% if forloop.counter is 11 %}
              </div>
              <div class="col-md-3 padded">
                {% endif %}
                {% if forloop.counter is 16 %}
              </div>
              <div class="col-md-3 padded">
                {% endif %}
                <div class="form-group row">
                  <label for="{{item.label}}" class="col-4 col-form-label">{{item.label}}</label>
                  <div class="col-8">
                    <!-- <input id="{{item.label}}" name="{{item.label}}" value="{{item.value}}" class="form-control here" type="text"> -->
                    {{item}}
                  </div>
                </div>
                {% endfor %}
              </div>


            </div>
            <div class="row">
              <div class="col-md-3 padded">
              <div class="form-group row">
                <div class="offset-4 col-8">
                  <input  type="submit" value = "Update" class="btn btn-primary"></input>
                </div>
              </div>
            </div>
            </div>
          </form>
          </div>
        </div>
      </div>




        </div>
      </div>

    </div>
  </div>
</div>
</div>
</div>
{% endblock %}
