


<br />
<div class="container">
	<div class="row centered-form">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title" id = "title">Data Form</h3>
				</div>
				<div class="panel-body">

						<!-- <div class = "row"> -->
							{% for field in form %}

							{{ form.non_field_errors }}


									{% if "ype" in field.label_tag  %}
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group" style = "">
											<label>{{field.label_tag}}</label>
											{{ field }}
											{{ field.errors }}
										<span class = "text-primary medium"><strong>Don't see existing SKU? add, then refresh</strong></span>

						   				 <a href="{% url 'inventory:add-type' %}" class="btn btn-primary btn-xs">

						   				 	<span class="glyphicon glyphicon-plus"></span> Add New Frame

						   				 </a>
									{% else %}
									<div class="col-xs-3 col-sm-3 col-md-3">
										<div class="form-group" style = "">
											<label>{{field.label_tag}}</label>
											{{ field }}

									{% endif %}
								</div>
							</div>

							{% endfor %}



						<!-- </div> -->
