{% load static %}
<link rel = "stylesheet" type = "text/css" href = "{% static "inventory/style.css" %}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link href = 'https://fonts.googleapis.com/css?family=Satisfy' rel = 'stylesheet' type = 'text/css'/>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>




	<form class = "form-horizontal" action = "" method = "post">

		{% csrf_token %}
		{% include 'inventory/form-template2.html' %}
		<div class = "form-group">
			<div class = "col-sm-offset-2 col-sm-10">
				<button class = "btn btn-primary" type = "submit" >Submit</button>
			</div>
		</div>
	</form>
