<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<title>{% block title %}VisionMakers{% endblock %}</title>

	{% load static %}
<link rel = "stylesheet" type = "text/css" href = "{% static "sales/style.css" %}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link href = 'https://fonts.googleapis.com/css?family=Satisfy' rel = 'stylesheet' type = 'text/css'/>
<link href="dashboard.css" rel="stylesheet">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


</head>
{% if close %}
<body onload ="myFunction()">
{% else %}
<body>
{% endif %}

<nav id = "navbar" class = "navbar navbar-inverse">
	<div class = "container-fluid">

		<!--  Header -->
		<div class = "navbar-header">
			<button type = "button" class = "navbar-toggle" data-toggle = "collapse" data-target = "#topNavBar">
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
			</button>
			<a class = "navbar-brand" href = "{% url 'users:login' %}">VisionMakers</a>
		</div>


		<!-- Items -->
		<div class = "collapse navbar-collapse" id = "topNavBar">
			<ul class = "nav navbar-nav">
				<li class = "">
					<a href = "{% url 'inventory:index' %}">
						<span class = "glyphicon glyphicon-tag" aria-hidden = "true"></span>&nbsp;
						Inventory
					</a>
				</li>

				<li class = "active">
					<a href = "{% url  'patients:select_patient' %}">
						<span class = "glyphicon glyphicon-user" aria-hidden = "true"></span>&nbsp;
						Patient
					</a>
				</li>

				<li class = "">
					<a href = "#">
						<span class = "glyphicon glyphicon-calendar" aria-hidden = "true"></span>&nbsp;
						Calendar
					</a>
				</li>

			</ul>

			<form class = "navbar-form navbar-left" role = "search" method = "get" action = "#">
				{% csrf_token %}
				<div class = "form-group">
					<input type = "text" class = "form-control" name = "q" value = "">
				</div>
				<button type = "submit" class = "btn btn-default"> Search</button>
			</form>

			<ul class = "nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
				<li class = "">
					<a class = "navbar-link" href = "{% url 'users:logout' %}">
						<span class = "glyphicon glyphicon-off" aria-hidden = "true"></span>&nbsp; Logout
					</a>
				</li>
        {% else %}

        <li>
          <a class = "navbar-link" href = "{% url 'users:login' %}">
						<span class = "glyphicon glyphicon-on" aria-hidden = "true"></span>&nbsp; Login
					</a>
        </li>
        {% endif %}

			</ul>

		</div>

	</div>
</nav>

{% block body %}
{% endblock %}


</body>






</html>
