<!DOCTYPE html>

{% extends 'sales/base.html' %}
{% block body %}
{% if user.is_authenticated %}

  

 <!-- this is where we need to select a patient -->
<!-- create a form for selecting a patient, probably similar to django-filter page -->
<!-- identify the type of sale and what they're buying -->
<!-- can I do this kind of one page at a time???? ask mom -->
<!-- I want to have the user choose a patient, choose a product,
choose insurance, be able to go back and change any of it
etc. and then confirm the purchase, users with higher authentication should be able
to go back and cancel the purchase or whatever
-->

<!-- going to do a multi page form starting with choosing a patient -->
{% endif %}
{% endblock %}
